# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code / Rider
.vscode/
.idea/

# Build results
build/
out/

# App settings
appsettings.json
appsettings.*.json

# Sensitive files
secrets.json

# Logs
*.log

# Environment files
.env

# OS generated
.DS_Store
Thumbs.db
/MovieDatabase/.vs/MovieDatabase/FileContentIndex
/MovieDatabase/.vs/MovieDatabase/FileContentIndex
MovieDatabase/.vs/MovieDatabase/FileContentIndex/0bae93e9-8600-46c5-9125-53c7a4faaabd.vsidx
